@media all and (max-width: 1200px){
    .about__inner{
        display: block;
    }
    .about__inner__text{
        text-align: center;
    }
    .about{
        margin-top: -20%;
        height: 60vh;
    }
    .footer__inner{
        height: 30vh;
    }
    .footer__title{
        top: 10%;
    }
}